@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-a: #1e50cc;
}

body {
  font-size: 15px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  display: block;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul ul ul {
  list-style-type: square;
}

pre {
  background-color: rgb(173, 205, 233);
  display: block;
  font-family: monospace;
  white-space-collapse: preserve;
  text-wrap: nowrap;
  margin: 1em 0px;
  overflow: auto;
}

.blog a:link {
  color: var(--color-a);
  text-decoration: underline;
}

.blog a:visited {
  color: #551A8B;
  text-decoration: underline;
}

.blog a:active {
  color: #FF0000;
  text-decoration: underline;
}

.a {
  color: var(--color-a);
  word-wrap: break-word;
  text-decoration: underline;
}